<div class="d-flex justify-content-between pt-3 flex-wrap">
    <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 01</h5>
          <h6 class="card-subtitle mb-2 text-muted">The first product</h6>
          <p class="card-text">This is the first product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 02</h5>
          <h6 class="card-subtitle mb-2 text-muted">The second product</h6>
          <p class="card-text">This is the second product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 03</h5>
          <h6 class="card-subtitle mb-2 text-muted">The third product</h6>
          <p class="card-text">This is the third product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 04</h5>
          <h6 class="card-subtitle mb-2 text-muted">The 4th product</h6>
          <p class="card-text">This is the 4th product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 05</h5>
          <h6 class="card-subtitle mb-2 text-muted">The 5th product</h6>
          <p class="card-text">This is the 5th product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 06</h5>
          <h6 class="card-subtitle mb-2 text-muted">The 6th product</h6>
          <p class="card-text">This is the 6th product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 07</h5>
          <h6 class="card-subtitle mb-2 text-muted">The 7th product</h6>
          <p class="card-text">This is the 7th product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
      <div class="card ms-5 mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Product 08</h5>
          <h6 class="card-subtitle mb-2 text-muted">The 8th product</h6>
          <p class="card-text">This is the 8th product of the brand. Is limited edition</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>

</div>
